@import "../node_modules/materialize-css/dist/css/materialize.min.css";

/*ICONS!*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*подключили Materialize*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Подключил шрифты из google fonts*/


/*Comfortaa и Roboto*/

input.black-input {
    box-sizing: border-box !important;
    border-radius: 6px !important;
    border: 2px solid #000000 !important;
}

input.black-input+label {
    color: #000!important;
}

input.black-input:focus+label {
    color: #000000!important;
}

input.black-input:focus {
    border-bottom: 1px solid #000000!important;
    box-shadow: 0 1px 0 0 #000000!important;
}


/*main*/

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;
    /*flex на flex'e, кринж какой-то. Если что, он здесь, чтобы на главной странице круто было*/
}

.row {
    min-width: 100%;
}

body {
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Comfortaa';
}

#footer {
    margin-top: auto;
}

#footer li {
    padding: 0 1rem;
}

#logo-text h4 {
    font-size: 48px;
    font-weight: bold;
}

#logo-text {
    margin: auto;
}

#vertical-h4 {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#SGA_Container {
    display: flex;
    flex-direction: column;
}

#SGA_Container div {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1px;
}

#SGA_Container div::first-letter {
    color: #1400FF;
}

#c-row {
    display: flex;
    margin-top: 20vh;
    align-items: center;
}

.btn {
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}


/*auth*/

.auth-btn {
    border: 2px solid #000000;
    width: 100%;
    height: 48px;
    font-size: 24px;
}

.auth-holder {
    margin-top: 15vh;
}


/*navbar*/

.ul-center {
    margin: auto;
}

.nav-wrapper {
    display: flex;
}

.navbar-icons {
    font-size: 3rem !important;
}


/*homepage*/

.background-Img {
    z-index: -1;
    position: absolute;
    width: 3840px;
    height: 2160px;
    left: -1656px;
    top: -404px;
    background-image: url(./content/images/ElectricCircuitBackground2.png);
}

.home-holder {
    flex: 1 1 auto;
}

.home-holder p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    font-size: 24px;
    width: 50%;
}


/*footer*/

.SGA-footer-abbreviation span {
    font-size: 18px;
    color: #FFD600;
    display: inline-block !important;
    margin-right: 5px;
}

.abbreviation-span:first-letter {
    color: #FF0532 !important;
}


/*sga-logo*/

.sga-logo {
    padding: 0px;
    background-image: url(./content/images/sga_logo.png);
    min-width: 36px !important;
    min-height: 36px !important;
}


/*OnlineBar*/


/*И другие Bar'ы может быть*/

.bar-wrapper {
    background-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
}

.bar-wrapper span {
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
}

.bar-body {
    display: flex;
    flex-direction: row;
    background-color: #636363;
}

.bar-body p {
    flex: auto;
    margin: 0.5rem;
    max-width: 10rem;
    background-color: black;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #000000;
}


/*ProjectsMainPage*/

.my-projects-btn {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 36px;
    min-height: 4rem;
}

.search-row {
    display: flex;
    flex-direction: row;
    min-width: 70% !important;
    max-width: 90% !important;
    margin-left: 1rem;
}

.search-btn {
    margin: auto;
    margin-right: 1rem;
    min-height: 3rem;
    font-size: 24px;
}

.search-field {
    flex: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*wb field*/

.white-black-field {
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 6px;
}

.white-black-field input {
    margin: 0px !important;
    padding: 0px !important;
}


/*PopularIndustries component*/

.industry-icon {
    padding-top: 2rem;
    min-height: 7rem;
    min-width: 7rem;
    max-width: 7rem !important;
    text-align: center;
    color: white;
}